<h1>Seedelni az alábbi linkek közvetlen konzolból meghívásával lehet:</h1>

<a href="http://localhost:3000/seed/books">http://localhost:3000/seed/books</a><br>
<a href="http://localhost:3000/seed/borrows">http://localhost:3000/seed/borrows</a><br>
<a href="http://localhost:3000/seed/librarians">http://localhost:3000/seed/librarians</a><br>
<a href="http://localhost:3000/seed/members">http://localhost:3000/seed/members</a><br>
<a href="http://localhost:3000/seed/users">http://localhost:3000/seed/users</a>
